/* CSS file */
WindowedApplication {
  background-color: black;
  padding-top: 1;
  padding-bottom: 1;
}

.success {
  background-color: green;
}

.failure {
  background-color: red;
}

.building {
  background-color: yellow;
}

.unknown {
 background-color: white;
}
