/* CSS file */
.MainComponent {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

.success {
  background-color: green;
}

.failure {
  background-color: red;
}

.building {
  background-color: yellow;
}

.unknown {
 background-color: white;
}
